---
layout: default
title: Blog
permalink: /blog/
pagination:
  enabled: true
description: "Things I like to write about."
nav_order: 1
---

<link rel="stylesheet" href="/assets/css/blog.css">

<div class="search">
    {%- include search.html -%}
    <br>
</div>

<hr>
<br>

<div class="blog-container">

  <!-- Logic for displaying pinned articles -->
  <ul class="post-list">
   <li>
   <div class="pinned-articles">
      <h2>
         📌 Pinned 📌
      </h2>
   </div>
   {% for post in site.posts %}
    {% if post.pinned %}
         <h3>
            <a class="post-link" href="{{ post.url | relative_url}}">{{ post.title | escape }}</a>
         </h3>
         {{ post.excerpt }}
   </li>
    {% endif %}
   {% endfor %}
  </ul>

  <hr>
  <br>

  <ul class="post-list">
     <!-- 
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts 
        -->
     {% for post in paginator.posts %}
      {% unless post.pinned %}
         <li>
            <h3> 
               <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" | append: ' - '}}
            {% assign words = post.content | strip_html | number_of_words %}
            {{ words | divided_by:180 }} min read
            </span>

            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
         </li>
      {% endunless %}
     {% endfor %}
  </ul>
  
  <!-- 
     Showing buttons to move to the next and to the previous list of posts (pager buttons).
     -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
     {% if paginator.previous_page %}
     <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
     </li>
     {% endif %}
     {% if paginator.next_page %}
     <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
     </li>
     {% endif %}
  </ul>
  {% endif %}
</div>