# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

#######################################################
#################### Site Settings ####################
#######################################################

title: Firas Esbai

author:
  name: Firas Esbai


# The `>` after `description:` means to ignore line-breaks until next key.
# If you want to omit the line-break after the end of text, use `>-` instead.
description: >
  The Blog and Portfolio of Firas Esbai.
  
#Social links
rss: Subscribe
github_username: firasesbai
linkedin_username: firas-esbai

# Show excerpts in the front page
show_excerpts: true

include:
    - _pages
    - _categories

#######################################################
#################### Build Settings ###################
#######################################################

markdown: kramdown
theme: minima

# Base hostname & protocol for the site
url: "https://www.firasesbai.com"

plugins:
  - jekyll-feed
  - jekyll-paginate-v2
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-redirect-from
  - jekyll-last-modified-at
  - jekyll-minifier
  - jekyll-loading-lazy
  - jekyll-webp
  - jekyll-diagrams

# Minifier Settings
jekyll-minifier:
  exclude: 'development'
  uglifier_args:
    harmony: true
  compress_css: true
  compress_javascript: true

# Pagination Settings
pagination:
  enabled: true
  per_page: 10
  permalink: '/page/:num/'
  title: ' - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true

# SEO Tag Settings
defaults:
  - scope:
      path: ""
      type: posts
    values:
      image: 
        path: /assets/images/default-sep-tag-image.png
        height: 630
        width: 1200

# Redirects Settings
redirect_from:
  json: false

# WebP Settings
webp:
  enabled: true
  quality: 85
  img_dir: ["/assets/images", "/assets/images/articles"]
  nested: true
  formats: [".jpeg", ".jpg", ".png"]
  regenerate: false
  verbose: false

# Jekyll Diagrams Settings
jekyll-diagrams:
  mermaid:

# Sass Settings 
sass:
  # suppress deprecation warnings
  quiet_deps: true
  style: compressed

#######################################################
#################### Additional Settings ##############
#######################################################

google_analytics: G-3ET85T3WD3

#######################################################
############### Exclude from processing ###############
#######################################################

exclude:
# The following items will not be processed, by default.
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
# Custom list:
    - README.md
    - .gitignore
    - vendor
    - node_modules
