.success-message {
      background-color: #4CAF50;
      color: white;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      margin-top: 20px;
}
.close-button {
      cursor: pointer;
}
form {
    width: 300px; 
    margin: 0; 
    margin-bottom: 20px;
}
label {
    display: block; 
    margin-bottom: 5px; 
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px;
}
input[type="submit"] {
    background-color: #007bff; 
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}