---
---
@import url("https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:400&display=swap");

.header {
    text-align: center; 
    margin: 20px 0; 
}
.welcome-message {
    text-align: center; 
    margin: 20px 0; 
}
.welcome-message h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif; 
    font-weight: 400; 
    font-style: italic;
    letter-spacing: 2px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.intro-text{
    width: 300px;
    flex: 1 auto;
    padding: 10px;
}
.centre-container{
    padding: 10px;
}
.about-site, .recent-posts, .cta {
    padding: 10px;
}
.recent-posts h1{
    text-align: center;
    margin: 20px 0; 
}
.view-all-container {
    text-align: center;
    margin: 20px 0;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid black;
    text-decoration: none;
}