.breadcrumb {
    display: inline-block;
    padding-bottom: 10px;
  }
.breadcrumb a {
    text-decoration: none;
    color: #007bff;
  }
.breadcrumb span {
    color: #6c757d;
    pointer-events: none;
  }
.breadcrumb a:hover {
    text-decoration: underline;
  }
.post-meta.last-updated {
  font-style: italic;
  margin-top: 0.5em;
  font-size: 0.9em;
}