 
  #search-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    max-width: calc(100% - 50px);
  }
  
  #search-container button {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    margin-left: 5px;
  }
  
  #results-container {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
  }
  
  @media screen and (max-width: 400px) {
    #search-container {
      max-width: 100%;
    }
    
    #search-input {
      font-size: 14px;
      max-width: calc(100% - 45px); 
    }
    
    #search-container button {
      font-size: 14px;
      padding: 8px 10px;
      margin-left: 5px; 
    }
  }