<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% seo %}
  
  {%- include head.html -%}
  
  <!-- start custom head snippets -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  
  <!-- insert favicons. use https://realfavicongenerator.net/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=1">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=1">
  <link rel="manifest" href="/assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=1" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=1">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Service Worker Logic -->	
  <script type="text/javascript" src="/js/service-worker.js"></script>
  
  <!-- end custom head snippets -->
  
  {% if site.google_analytics %}
	{% include google-analytics.html %}
  {% endif %}
  {% if site.google_adsense %}
	{% include google-adsense.html %}
  {% endif %}
  
  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

	<!-- Cookie Consent Logic -->	
	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
	<script src="/js/cookie-consent-script.js" type="text/javascript"> </script>

  </body>

</html>