---
layout: default
---

<link href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible:400&display=swap" rel="stylesheet">

<style>
  ul.pager { text-align: center; list-style: none; }
  ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
  .header {
   text-align: center; 
    margin: 20px 0; 
   }
   .welcome-message {
    text-align: center; 
    margin: 20px 0; 
   }
   .welcome-message h1 {
    font-family: 'Atkinson Hyperlegible', sans-serif; 
    font-weight: 400; 
    font-style: italic;
    letter-spacing: 2px;
   }
   .search {
    text-align: center;
   }
   @media (max-width: 768px) {
      .header {
        flex-direction: column;
        align-items: flex-start;
      }
      .search {
        text-align: center;
      }
   }
</style>

<div class="home">

   <div class="header">
      <div class="welcome-message">
          <h1>Welcome 👋 to Firas Esbai's Corner</h1>
      </div>
      <div class="search">
          {%- include search.html -%}
      </div>
  </div>

  <hr>
  <br>

  {{ content }}

  <ul class="post-list">
     <!-- 
        Here is the main paginator logic called.
        All calls to site.posts should be replaced by paginator.posts 
        -->
     {% for post in paginator.posts %}
     <li>
        <h3> 
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" | append: ' - '}}
        {% assign words = post.content | strip_html | number_of_words %}
        {{ words | divided_by:180 }} min read
        </span>

        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        {%- endif -%}
     </li>
     {% endfor %}
  </ul>
  
  <!-- 
     Showing buttons to move to the next and to the previous list of posts (pager buttons).
     -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
     {% if paginator.previous_page %}
     <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
     </li>
     {% endif %}
     {% if paginator.next_page %}
     <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
     </li>
     {% endif %}
  </ul>
  {% endif %}
</div>